/*alignement des information*/
li {
    color: red;
    margin: 4px;
    padding: 3px;
    font-family: 'Devonshire', cursive;
    font-size: 20px;
}
p {
    font-family: 'Lemonada', cursive;
}
h2 {
    font-family: 'Lemonada', cursive;
    font-size: 24px;
}
label {
    color: #956e6e;
    font-family: 'Lemonada', cursive;
}
label.address {
    font-style: italic;

}
label.identifiant {
    font-weight: bold;
}
h1 {
    color: #1fed5c;
    margin: 40px;
    padding: 50px;
    font-size: 30px;
    text-align: center;
    font-family: 'Eater', cursive;
    text-decoration: underline;
    font-weight: normal;
}
body {
    background-image: url('../Image/background-17.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
a {
    color: green;
    padding-left: 2em;
    }
a:visited {
        color: black;
    }
a:hover {
    color: yellow;
}
ul {
    list-style: none;
    display: inline-block;

}
img {
    height: 300px;
    width: 300px;
}
nav {
    border: 2px solid black;
    border-radius: 8px;

}
main {
    display: inline-block;
    width: 60em;
}
aside {
    display: inline-block;
    vertical-align: top;

}
li.navigation {
    display: inline;
}
label {
    display: inline-block;
width: 6em;
margin-bottom: 1em;
}
fieldset {
    border:  2px dotted black;
    margin-left: 6em;
    display: inline-block;
    width: 23em;
}
