/*alignement des information*/
li {
    color: red;
    margin: 4px;
    padding: 5px;
    font-family: 'Devonshire', cursive;
    font-size: 20px;
}
label {
    color: #956e6e;
    font-family: 'Lemonada', cursive;
}
label.address {
    font-style: italic;

}
label.identifiant {
    font-weight: bold;
}
h1 {
    color: #1fed5c;
    margin: 40px;
    padding: 50px;
    font-size: 30px;
    text-align: center;
    font-family: 'Eater', cursive;
    text-decoration: underline;
    font-weight: normal;
}
body {
    background-image: url('../Image/background-17.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
a {
    color: green;
    }
a:visited {
        color: black;
    }
a:hover {
    color: yellow;
}
ul {
    list-style: none;
}
img {
    height: 300px;
    width: 300px;
}
